
<div class="container">
<h1>Welcome Admin</h1>
<ol>
 <li> <a  routerLink="/admin/addcompany">Add Company</a></li>
 <li> <a  routerLink="/admin/viewcompany">View Company</a></li>
 <li> <a  routerLink="/admin/viewipo">View Ipo</a></li>
 <li> <a  routerLink="/admin/addipo">Add Ipo</a></li>
 <li><a routerLink="/admin/addsector">Add Sector</a></li>
 <li><a routerLink="/admin/viewsector">View Sector</a></li>
 <li><a routerLink="/user/viewcompany">View Company User</a></li>
 <li><a routerLink="/user/viewipo">View IPO User</a></li>
 <li><a routerLink="/user/searchcompany">Search Company In Sector</a></li>
 
 
 
</ol>

<router-outlet></router-outlet>
</div>

